<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335031028813-i6odnn8reqegadqtm0qkbf30bol3c2kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335031028813-i6odnn8reqegadqtm0qkbf30bol3c2kk</string>
	<key>API_KEY</key>
	<string>AIzaSyD48OToUq0V9B9_Dn_krNDVDcPWTRM9n34</string>
	<key>GCM_SENDER_ID</key>
	<string>335031028813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sifr.omasoftpos</string>
	<key>PROJECT_ID</key>
	<string>sifr-push-notification-e83f3</string>
	<key>STORAGE_BUCKET</key>
	<string>sifr-push-notification-e83f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335031028813:ios:88e0787de2b61093882004</string>
</dict>
</plist>